body{
  background-color:green;
}
.b0
{
  height:50px;

}
.b0 ul li
{

  list-style:none;
  float:right;
  width:145px;
  height:30px;
  font-size:30px;
  color:solid black;
  font-style:normal;
  padding: inherit;
  padding-top:12px;
  margin-right:6px;
  position:relative;
  right:70px;
  text-align: center;
}
.b1 img
{
  position: absolute;
  height:761px;
  width:1500px;
  top:110px;
  left:270px;
  border-radius:2%;

}
.b2 img
{
  position: absolute;
  left:270px;
  top:110px;
  height:360px;
  width:1500px;
  border-radius:2%;
}
.b3 img
{
  position:absolute;
  border-radius:50%;
  left:310px;
  top:140px;
  height:400px;
  width:400px;
}
.b4
{
  text-align:center;
  color:black;
  position: absolute;
  font-size:26px;
  color:white;
  top:170px;
  left:960px;
}
.b5 ul li
{
     font-size:25px;
     list-style: none;
     position:relative;
     color:black;
     top:480px;
     left:840px;
}
.b6 img
  {
    float:left;
    height:60px;
    width:35px;
    margin-left:20px;
    position: relative;
    left:870px;
    border-radius:50%;
    margin-top:40px;
  }

.b7  ul h1
{
  list-style:none;
  text-decoration:underline;
  text-decoration-color:red;
  color:red;
  position: relative;
  font-size:45px;
  top:230px;
  right:104px;
}
.b7 ul p
{
  position: absolute;
  font-size:29px;
  top:620px;
  left:310px;
}
